<?xml version="1.1" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luis.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/doodle_calendar"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/doodle_calendar_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonthlyExpensesTracker">
        <activity
            android:name="com.luis.monthly_expenses_tracker.activity.AddExpenseActivity"
            android:label="@string/title_activity_add_expense"
            android:theme="@style/Theme.MonthlyExpensesTracker.NoActionBar"></activity>
        <activity android:name="com.luis.monthly_expenses_tracker.activity.MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>